<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<title th:text="#{menuLines.title.newMenuLine} + ' - ' + #{appName}">Create menu line - Weekly Menu Planner</title>
</head>
<body>
	<div class="container">
		<div th:insert="~{navbar :: navbar}"></div>
		<h1 th:text="#{menuLines.title.newMenuLine}">New menu line</h1>
		<form th:action="@{/menu/{menuId}/menuLine/create(menuId=${menuLine.menu.menuId})}" th:object="${menuLine}" method="post">
			<label th:for="weekday" th:text="#{menuLines.weekday} + ':'">weekday</label>
			<select id="menus.weekday" class="form-control" th:field="*{weekday}">
				<option th:value="1" th:text="#{menuLines.monday}">Monday</option>
				<option th:value="2" th:text="#{menuLines.tuesday}">Tuesday</option>
				<option th:value="3" th:text="#{menuLines.wednesday}">Wednesday</option>
				<option th:value="4" th:text="#{menuLines.thursday}">Thursday</option>
				<option th:value="5" th:text="#{menuLines.friday}">Friday</option>
				<option th:value="6" th:text="#{menuLines.saturday}">Saturday</option>
				<option th:value="7" th:text="#{menuLines.sunday}">Sunday</option>
			</select>
			<label th:for="mealType" th:text="#{menuLines.mealType} + ':'">mealType</label>
			<select id="menus.mealType" class="form-control" th:field="*{mealType}">
				<option th:value="1" th:text="#{menuLines.breakfast}">Breakfast</option>
				<option th:value="2" th:text="#{menuLines.lunch}">Lunch</option>
				<option th:value="3" th:text="#{menuLines.dinner}">Dinner</option>
			</select>
			<label th:for="menus.dish.name" th:text="#{menuLines.dish.name} + ':'">menus.dish.name</label>
			<select id="menus.dish.name" class="form-control" th:field="*{dish}">
				<option th:each="dishSelection : ${dishes}" th:value="${dishSelection.dishId}" th:text="${dishSelection.name}">Wireframe</option>
			</select>
			<table class="table">
				<tbody>
					<tr>
						<td>
							<button type="button" class="btn btn-primary" onclick="window.history.back();">
								<em class="fas fa-arrow-left"></em>
								<span th:text="' ' + #{window.history.back}">
							</button>
						</td>
						<td class="text-right">
							<button class="btn btn-success" type="Submit">
								<em class="fas fa-check"></em>
								<span th:text="' ' + #{create}">
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>