<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<title th:text="#{menus.title.newMenu} + ' - ' + #{appName}">Create menu - Weekly Menu Planner</title>
</head>
<body>
	<div class="container">
		<div th:insert="~{navbar :: navbar}"></div>
		<h1 th:text="#{menus.title.newMenu}">New menu</h1>
		<form th:action="@{/menu/create}" th:object="${menu}" method="post">
			<label th:for="startDate" th:text="#{menus.startDate} + ':'">menuId</label>
<!--       <input type="text" id="startDate" th:value="${{#dates.createNow()}}" th:field="*{startDate}" class="form-control" /> -->
<!--       <input type="text" id="startDate" th:value="${#dates.format(new java.util.Date(), 'dd/MM/yyyy')}" th:field="*{startDate}" class="form-control" /> -->
<!--       <input type="text" id="startDate" th:field="*{startDate}" class="form-control" /> -->
      <input type="text" id="startDate" th:value="${{menu.startDate}}" class="form-control" />
			<table class="table">
				<tbody>
					<tr>
						<td>
							<button type="button" class="btn btn-primary" onclick="window.history.back();">
								<em class="fas fa-arrow-left"></em>
								<span th:text="' ' + #{window.history.back}">
							</button>
						</td>
						<td class="text-right">
							<button class="btn btn-success" type="Submit">
								<em class="fa fa-plus-circle"></em>
								<span th:text="' ' + #{create-empty}">
							</button>
						</td>
						<td class="text-right">
<!--               <a th:href="@{/menu/autogenerate/{startDate}(startDate=${#dates.format(menu.startDate, 'dd-MM-yyyy')})}" -->
              <a th:href="@{/menu/autogenerate/{startDate}(startDate=${{menu.startDate}})}"
								class="btn btn-success">
								<em class="fa fa-plus-circle"></em>
								<span th:text="' ' + #{autogenerate}">
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>